<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="/css/forgot-password.css" />
</head>
<body>
<script th:inline="javascript">
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                location.href = "/custom-error?message=Registration time expired, please try again";
                // timer = duration;
            }

        }, 1000);
    }

    window.onload = function () {
        var display = document.querySelector('#time');
        var remainingTime =[[${expiresAt}]] - new Date().getTime() / 1000;
        startTimer(remainingTime, display);
    };
</script>
   <div >
       <div id="blue_segment" />
       <div style="margin-top: 10%" class="ui container">
           <div class="ui centered grid" >
               <div class="sixteen wide mobile ten wide tablet six wide computer column">
                   <div class="ui segment" style="box-shadow: 3px 5px 3px 2px #888888;">
                       <div>Registration closes in <span id="time">00:00</span> </div>

                           <div th:if="${#fields.hasErrors('request')}"  class="ui negative small message">
                               <div class="header" th:each="err : ${#fields.errors('request')}" th:text="${err}" />
                           </div>

                       <form class="ui form error" action="#" th:action="@{/usersecurity/resetpassword}" th:object="${request}" method="post">

                           <div class="ui message" >
                               <div class="header" sec:authentication="name">
                               </div>
                           </div>
                           <div class="field">
                               <label>Password</label>
                               <input  type="password" th:field="*{password}"  placeholder="Password">
                               <div style="margin-top: 3px"  class="ui  red basic label" th:each="err : ${#fields.errors('password')}" th:errors="*{password}" />
                           </div>
                           <div class="field">
                               <label>Confirm Password</label>
                               <input  type="password" th:field="*{passwordRepeat}"  placeholder="Repeat Password">
                               <div style="margin-top: 3px" class="ui  red basic label" th:each="err : ${#fields.errors('passwordRepeat')}" th:errors="*{passwordRepeat}" />
                           </div>

                           <button type="submit" class="ui primary button">
                               Save
                           </button>
                       </form>
                   </div>
               </div>
           </div>
       </div>
   </div>
</body>
</html>